@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}   

header{
    background-color:#DACECE ;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
#services{
    background-color: white;
}
/* #contact{
    background-color: #DACECE;
} */
.logo{
    color: white;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    transition: 0.4s ;
}
.logo:hover{
    color:#000000
}
.name{
    background-color: #000000;
}
.navigation a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color: white;
    padding-left: 10px;
    
}
#pjs{
    background-color: black;
}
.navigation a:hover{
    color: rgba(17, 16, 14, 0.521);
}
#pjs:hover{
    color: #9b9393;
}

section{
    padding: 100px 200px;

}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(219, 204, 204, 0.795);
    
    letter-spacing: .5px;
    padding-top: 10px ;
    background-image: url(img/Snapchat-171250023.jpg) no-repeat  ;
    background-position: right;
    
    
}
.main h2{
    color: white;
    font-size: 4.0em;
    
}

.main h3{
    font-family: 'Dongl e', sans-serif;

    font-size: 2.5em;
    color: #7B3F00;   
}

.btn{
    color: #000000;
    text-decoration: none;
    border-style: solid;
    border-radius: 15px;
    display: inline-block;
    padding: .7433em  ;
    margin: 7px 0px ;
    letter-spacing: 1px;
    margin-bottom: 20px ;
    transition: 0.5s ease;
    
    
}
.btn:hover{
    transform: scale(1.1);
    background-color: rgba(27, 26, 22, 0.521);
}

.social-icons a  {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-size: 1.2em;
}   

.one:hover,.two:hover,.three:hover,.four:hover{
    color: #000000;
    
}

.content{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;


}
.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px ;
    background-color: rgb(218,206,206);
}

.card{
   width: 20em ;
   box-shadow: 0 5px  25px  rgba(1 1 1 / 60%);
   padding: 15px ;
   margin: 20px ;
   border-radius: 20px;
   transition: .7s ease;
   letter-spacing: .5px ;
   

}
.card:hover{
    transform: scale(1.1);


}

.icon{
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 8em;
}
#ico , #ico1{
    color: #a79a9a;
}
.info{
    text-align: center;
}
.info h3{
    color: #524242;
    margin: 10px ;
    
}
.info p{ 
    display: flex;
    justify-content: center;
    font-size: .8em;
    margin: 10px ;
    color: #9b9393;
}

.Contact{
    
    background-color: rgba(0, 0, 0, 0.7);
    
}
.lets{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 2.2em;
    color: rgb(255, 255, 255);
}
.contact-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.kk h3{
    color: rgb(250, 245, 245);
    text-align: center;
    padding: 10px;
}
.kk p{
    color: rgb(255, 246, 246);
    text-align: center;
    pad: 10px;
}
.footer{
    background-color: #000000 ;
    display: flex;
    justify-content: space-between;
    padding: 17px ;

}
.footer p{
    color: white;
}
.footer span{
    color: rgba(182, 141, 31, 0.521);

}






/* Add background image */
.background-image {
    position: fixed;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img.jpg'); /* Replace with your actual background image path */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Place the background behind other elements */
    filter: grayscale(100%);
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .gallery-item {
    transition: .7s ease;

    flex: 1;
    margin: 5px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 0px;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
  }
  
  
  .gallery-item:hover {
    transform: scale(1.1);

    
  }



/* Style the links */
.gallery-item a {
display: block;
background-color: #007BFF; /* Background color for the links */
color: white; /* Text color for the links */
text-decoration: none; /* Remove underlines from the links */
padding: 10px 20px; /* Add padding for spacing */
margin-top: 10px; /* Add margin to separate links */
border-radius: 5px; /* Add rounded corners to the links */
}

/* Style the links on hover (optional) */
.gallery-item a:hover {
background-color: #0056b3; /* Change background color on hover */
}







